@attribute [Authorize(Policy = PermissionStatics.CandidateRead)]

<RadzenStack JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-1">
    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Companies:</RadzenText>
    <ul class="timeline align-items-start mt-2 ml-5">
        @foreach (var company in Companies)
        {
            <li>
                <RadzenStack JustifyContent="JustifyContent.Start" Gap="0" Class="rz-p-2">
                    <RadzenText TextStyle="TextStyle.Body1"><b>@($"{company.Company.CompanyName}: {@company.Position}")</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">@(@company.DateStart.ToString("yyyy-MM-dd") + " : " + (@company.DateEnd.HasValue ? @company.DateEnd?.ToString("yyyy-MM-dd") : "Current"))</RadzenText>
                    </RadzenStack>
                </li>
        }
    </ul>
</RadzenStack>

@code {
    [Parameter]
    public ICollection<CandidateCompanyDto> Companies { get; set; }
}
