@inherits LayoutComponentBase


<div class="page @GetCssClass()">
    <RadzenDialog/>
    <RadzenNotification/>
    <main class="@GetCssClass()">
        <div >
            <NavMenu />
        </div>

        <article class="content px-4 ">
            
            <ErrorBoundary >
                <ChildContent>
                    @Body
                </ChildContent>               
                <ErrorContent>
                    <ErrorElement />
                </ErrorContent>
            </ErrorBoundary>
                   
        </article>
    </main>
</div>
