@inject IMapper mapper
@inject DialogService DialogService

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8); " aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <RadzenText Text="@($"Edit {Candidate.FirstName} {Candidate.LastName} details")" />
                <RadzenButton Click="OnCloseAsync" Icon="close" />
            </div>
            <div class="modal-body">
                <CandidateMainInfoEdit Candidate="Candidate" SaveCandidateAsync="OnSaveCandidateAsync" />

            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public int? CandidateId { get; set; }
    [Parameter]
    public EventCallback<CandidateEditViewModel> SaveCandidateAsync { get; set; }

    [Parameter]
    public EventCallback Close { get; set; }
    [Parameter]
    public CandidateEditViewModel Candidate { get; set; }


    private async Task OnSaveCandidateAsync()
    {
        if (CandidateId != null && CandidateId > 0)
        {
            await SaveCandidateAsync.InvokeAsync(Candidate);
        }
    }
    private async Task OnCloseAsync()
    {
        await Close.InvokeAsync();
    }

}
