
@page "/"
@attribute [Authorize(Policy = PermissionStatics.CandidateRead)]
@if (AddCandidateDialogOpen)
{
    <CandidateAddDialog Candidate="candidateToAdd" Close="OnCloseAsync" />
}
<div class="container mt-1 mb-1">
    @if (IsLoadDataChanged)
    {
        <RadzenButton Text="Show filters" Icon="@(IsFiltered?"filter_list":"filter_list_off")" ButtonStyle="ButtonStyle.Primary"
                  Click="OpenOrder"/>
        <AuthorizeView Policy="@PermissionStatics.CandidateCreate">
            <RadzenButton Click="AddCandidateAsync" Text="Add new candidate" Icon="add" />
        </AuthorizeView>
    }

    <CandidatesList LoadDataChanged="OnLoadDataChanged"/>

</div>



